.form-subscribe {
    width: 570px;
    height: 86px;
    margin-left: 93px;
    position: relative;
    display: flex;
  }

.subscribe-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-white-color;
    margin-bottom: 20px;
  }
  
  .subscribe-input {
    width: 358px;
    height: 50px;
    background-color: $secondary-bgc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color: $main-white-color;
  }
  
  .form-subscribe .subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .subscribe {
    padding-left: 28px;
    padding-right: 62px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: $main-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    cursor: pointer;
  }
  
  .icon-send {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
    fill: $main-white-color;
  }