.footer-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  
  @media screen and (max-width: 767px) {
    .address-list{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 60px;
&.list{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

    }
  }


  .footer-tablet{
    @media screen and (min-width: 480px) {
  
    }
    
    @media screen and (min-width: 768px) {
     display: flex;
     justify-content: flex-end;
     gap: 50px;
    }
    
    @media screen and (min-width: 1200px) {
      
    }
  }



  .footer-adress {
    display: block;
    color: $main-white-color;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
  }
  
  .tel .footer-contact {
    margin-bottom: 0px;
  }
  
  .footer-contact {
    display: block;
    color: $secondary-accent-color;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    @media screen and (max-width: 767px){
      
      text-align: center;
    }
    @media screen and (max-width: 1199px){
      text-align: center;
    }
  }
  
  footer {
    background-color: $secondary-bgc;
  }
  
  .footer-adress:focus,
  .footer-adress:hover {
    color: $accent-color;
  }
  
  .footer-contact:focus,
  .footer-contact:hover {
    color: $accent-color;
  }
  .footer-container {
    // align-items: baseline;
    // justify-content: space-between;

    @media screen and (min-width: 480px) {
  display: block;
    }
    
    @media screen and (min-width: 1200px) {
      display: flex;
    // align-items: baseline;
    justify-content: space-between;
    }

  }


.footer-link {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap; 
    color: $main-white-color;

    @media screen and (max-width: 767px){
      align-items: center;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 768px){
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: center;
      width: 50%;
      position: relative;

      
    }
    @media screen and (min-width: 1200px){
      align-items: flex-start;
    }

  }
  
  .footer-link > .social-link {
    margin: 0;
  }
  
  .join-link > .link-icon {
    fill: $main-white-color;
  }
  
  .slogan-footer {
    display: block;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    // margin-bottom: 20px;
    padding-bottom: 28px;
    @media screen and (max-width: 1199px){
      text-align: center;
    }
    @media screen and (min-width: 1200px){
      text-align: left;
    }

  }



  .wrapper {
    // display: flex;
    // flex-direction: column;
    // margin-right: 70px;

    @media screen and (min-width: 480px) {
      display: block;
  margin-left: auto;
  margin-right: auto;
    }
    @media screen and (min-width: 768px){

      display: block;
      max-width: 50%;
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (min-width: 1200px){
      display: flex;
      flex-direction: column;
      margin-right: 70px;
      margin-left: 0px;


    }



  }

  .wrapper__logo-footer {

    @media screen and (max-width: 479px){
      display: flex;
      justify-content: center;
      color: $main-white-color;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      margin-bottom: 28px;
    }

    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: center;
      color: $main-white-color;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      margin-bottom: 28px;
    }
    
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      color: $main-white-color;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      margin-bottom: 23px;
    }
    
    @media screen and (min-width: 1200px) {
      display: block;
    color: $main-white-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;
    }


    
  }

  
  .wrapper__logo-color {
    color: $accent-color;
  }
  
  
  .form-field-footer{
    @media screen and (max-width: 479px){
      position: relative;
      // outline: 1px solid orangered;
      display: flex;
      flex-direction: column;
      text-align: left;
      

    }



    @media screen and (min-width: 480px){
      position: relative;
      // outline: 1px solid orangered;
      display: flex;
      flex-direction: column;
      text-align: left;
      // margin-right: 12px;


    }

    @media screen and (min-width: 768px) {
   margin-top: 60px;
    }
    
    @media screen and (min-width: 1200px) {
      
        position: absolute;
        left: 0;
        bottom: 0;
        // outline: 1px solid orangered;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-right: 12px;
      }

  }
  





  

  
  
 