.section-five {
    color: $main-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .clients-list {
    text-decoration: none;
    list-style: none;
    content: "";
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    gap: 30px;
  }
  
  .clients:hover {
    fill: $accent-color;
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }

  .client-link {
    width: 100%;
    height: 100%;
    color: $main-fill;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .client-link:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  
  .clients {
    width: 170px;
    height: 92px;
    align-items: center;
    border: 1px solid $main-fill;
    border-radius: 4px;
  
    /* background-color: var(--main-bgc-grey); */
  }
  
  .clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
  
  .yaco {
    background-image: url(../image/yaco.svg);
    fill: $main-fill;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .tagline {
    background-image: url(../image/tagline.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .company {
    background-image: url(../image/company.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .foster {
    background-image: url(../image/foster.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .brand {
    background-image: url(../image/brand.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .companytagline {
    background-image: url(../image/companytagline.svg);
    background-repeat: no-repeat;
    background-position: center;
  }