// .feature {
//   display: flex;
// }



.examples{
  
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
  
.feature{
  margin: 0 auto;
  padding-top: 60px;
}


  .feature-list {
    
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: 5px;
      // gap: 30px;
      
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: -15px;
      
      
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      // margin: -30px;
      // gap: 30px;
      // .feature-list__item:nth-child(4n) {
      //   margin-right: 0;
      // }
      
    }

  }
  
  .feature-list__item {
   
    

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
    //    width: 270px;
    // margin-right: 30px;
    width: calc((100% - 4 * 30px) / 4);
    // margin: 30px;
    }
  }
  
  .feature-list__item::before {
    content: "";
    display: block;
    height: 120px;
    border-radius: 4px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-color: $main-bgc-grey;
    margin-bottom: 30px;
  }

  .icon-antenna::before {
    background-image: url(../image/antenna.svg);
  }
  
  .icon-clock::before {
    background-image: url(../image/clock.svg);
  }
  
  .icon-diagram::before {
    background-image: url(../image/diagram.svg);
  }
  
  .icon-astronaut::before {
    background-image: url(../image/astronaut.svg);
  }
  
  .feature-list__title {
    padding-bottom: 10px;
  }
  
  

   .feature-list__title {
    color: $main-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 10;
  }
  .feature-list__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
  }