.examples {
    padding-top: 0px;
  }
  
  .examples-list {
    display: flex;
  }
  
  .examples-list .item {
    width: 370px;
    height: 294px;
    margin-right: 30px;
    /* background-color: chartreuse; */
  }
  
  .examples-list .item:nth-child(3n) {
    margin-right: 0;
  }
  
  .section-three {
    color: $main-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    /* margin-top: 94px; */
    margin-bottom: 50px;
  }
  
  .work-label {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
  
  .workthubm-text {
    font-size: 14px;
    line-height: 0.87;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-white-color;
  }

  .work-thumb {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .work-thumb::before {
    display: inline-block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }