.section-one {
    margin: 0 auto;
    background-color: $secondary-bgc;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/bgi/headerimg480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:   url(../image/bgi/headerimg4802x.jpg);
}
   
@media screen and (min-width: 768px) {
background-image: url(../image/bgi/headerimg768.jpg);
width: 100%;


  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:   url(../image/bgi/headerimg7682x.jpg);
}
}
@media  (min-width: 1200px) {
   background-image: url(../image/bgi/headerimg1200.jpg);
width: 100%;
   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi), (min-resolution: 2dppx) {
   background-image:   url(../image/bgi/headerimg12002x.jpg);

}
}
}




  // }

  // @media screen and (min-width: 480px) {
  
  // }
  
  // @media screen and (min-width: 768px) {
   
  // }
  
  // @media screen and (min-width: 1200px) {
    
  // }







  
  .title-one {
    color: $main-white-color;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0px;
  }

  .button-hero:hover,
.button-hero:focus {
  background-color: $active-bgc-button;
  color: $main-white-color;
}

.pointer {
  cursor: pointer;
}

.button-hero {
    color: $main-white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    min-width: 216px;
    /* outline: 2px solid red; */
    text-align: center;
    /* margin-bottom: 200px; */
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
