.section-one {
    margin: 0 auto;
    background-color: $secondary-bgc;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/bgi/headerimg480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    background-size: cover;

    
}
   
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {

      .section-one{
        background-image:  linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ), url('../image/bgi/headerimg4802x.jpg');
      }
    }


@media screen and (min-width: 768px) {
  .section-one{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../image/bgi/headerimg768.jpg');
    width: 100%;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .section-one{
        background-image:  linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ), url('../image/bgi/headerimg7682x.jpg');

      }

     
    }
    
  
}

@media screen and (min-width: 1200px) {
  .section-one{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../image/bgi/headerimg1200.jpg');
    width: 100%;

  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px){
    .section-one{
      background-image:  linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url('../image/bgi/headerimg12002x.jpg');

    }
  }
}

  .title-one {
    color: $main-white-color;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0px;
  }

  .button-hero:hover,
.button-hero:focus {
  background-color: $active-bgc-button;
  color: $main-white-color;
}

.pointer {
  cursor: pointer;
}

.button-hero {
    color: $main-white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    min-width: 216px;
    /* outline: 2px solid red; */
    text-align: center;
    /* margin-bottom: 200px; */
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
