.regular-customers{
  margin: 0 auto;
}



.section-five {
    color: $main-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    // margin-bottom: 50px;
    margin-bottom: 30px;
  }
  
  .clients-list {
    text-decoration: none;
    list-style: none;
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
    //  gap: 30px;
    // margin: -15px;
    
    padding: 0;
      margin: 0;
      content: "";
      background-repeat: no-repeat;
      background-position: center;

    @media screen and (min-width: 480px)  {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    //  gap: 30px;
    margin: -15px;
      
    }


    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      // gap: 30px;
      // flex-basis: calc((100% - 2 * 30px) / 2);
      margin: -15px;
    }

    @media screen and (min-width: 1200px)  {
      display: flex;
      flex-wrap: nowrap;
      text-decoration: none;
      list-style: none;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      margin: 0;
      // gap: 30px;
      
    }

  }
  
  .clients:hover {
    fill: $accent-color;
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }

  .client-link {
    width: 100%;
    height: 100%;
    color: $main-fill;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .client-link:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  
  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 210px;
    height: 92px;
    border: 1px solid $main-fill;
    border-radius: 4px;
    margin: 10px auto;
    flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;

    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
      
      }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 6 * 15px) / 3);
      // margin: 15px;
    //   width: 226px;
    // height: 92px;
    }


    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 6 * 30px) / 6);
      // margin: 5px;
      width: 170px;
      height: 92px;

    }

  
    /* background-color: var(--main-bgc-grey); */
  }
  
  .clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
  
  .yaco {
    background-image: url(../image/yaco.svg);
    fill: $main-fill;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .tagline {
    background-image: url(../image/tagline.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .company {
    background-image: url(../image/company.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .foster {
    background-image: url(../image/foster.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .brand {
    background-image: url(../image/brand.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .companytagline {
    background-image: url(../image/companytagline.svg);
    background-repeat: no-repeat;
    background-position: center;
  }