


.section-four {
    color: $main-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }


.secondary-section {
  margin: 0 auto;
    background-color: $main-bgc-grey;
  }

  .team-list{
    @media screen and (min-width: 480px){
  // display: flex;
  text-align: center;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 0px 0px 4px 4px;
    }
  
    @media screen and (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      // flex-basis: calc((100% - 4 * 15px) / 2);
  
    }
  
    @media screen and (min-width: 1200px){
      display: flex;
      text-align: center;
      // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
      border-radius: 0px 0px 4px 4px;
  
    }
  }


  .social-link {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 44px;
  }
  
  .net-item {
    display: flex;
    width: 44px;
    height: 44px;
  }
  
  .net-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid transparent; */
    border-radius: 50%;
    fill: $main-fill;
  }

 
  
  .team-list .card {

    @media screen and (max-width: 479px){
      width: 450px;
      margin-right: 30px;
      background-color: $main-white-color;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 480px){
      width: 450px;
      margin-right: 30px;
      margin-bottom: 30px;
      background-color: $main-white-color;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    @media screen and (min-width: 768px){
      width: 354px;
      margin-right: 0;
      
      background-color: $main-white-color;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      flex-basis: calc((100% - 4 * 15px) / 2);
      

    }
    @media screen and (min-width: 1200px){
      width: 270px;
      margin-right: 0;
      margin-bottom: 0;
      background-color: $main-white-color;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      flex-basis: calc((100% - 8 * 15px) / 4);
      
      
    }



  
  }


  // @media screen and (min-width: 768px), (max-width: 1199px) {
  //   .team-list .card:nth-child(2n) {
  //     margin-right: 0;
  //   }
  // }

  // @media screen and (min-width: 1200px){
  //   .team-list .card:nth-child(4n) {
  //     margin-right: 0;
  //   }
  // }

  
 

  .team-text {
    display: block;
    padding-top: 30px;
  }
  
  .members .card-title {
    margin-bottom: 10px;
  }
  
  .members {
    padding-top: 30px;
    padding-bottom: 30px;


    .card-description {
      @media screen and (max-width: 479px){
        color: $secondary-text-color;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
      }
      @media screen and (min-width: 480px){

      }
      @media screen and (min-width: 768px){

      }
      @media screen and (min-width: 1200px){

      }

      
    }


    .card-title {

      @media screen and (max-width: 479px){
        color: $main-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        text-align: center;
      }
      @media screen and (min-width: 480px){

      }
      @media screen and (min-width: 768px){

      }
      @media screen and (min-width: 1200px){

      }






      
    
    
    }
  }