.thumb-text {
    display: block;
    position: absolute;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $main-white-color;
  }
  
  .product-thumb {
    position: relative;
    overflow: hidden;
  }
  
  .thumb-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $timing-function;
  }
  
  .thumb-overlay:hover {
    opacity: 1;
  }

  .thumb-overlay:focus {
    opacity: 1;
  }
  
  .link-hero:hover .product-thumb:hover::before {
    opacity: 1;
  }

  .link-hero:focus .product-thumb:hover::before {
    opacity: 1;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-list .card-item {
    width: 370px;
  }
  
  .card-item:hover .product-thumb::before {
    transform: translateY(0);
  }
  
  .link-hero:hover .thumb-overlay {
    transform: translateY(0);
  }
  
  .link-hero:focus .thumb-overlay {
    transform: translateY(0);
  }
  
  
  .link-hero:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .link-hero:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .portfolio-list .card-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .card-image {
    display: block;
    border: transparent;
  }
  
  .card-title {
    color: $main-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  
  
  }
  
  .project .card-title {
    margin-bottom: 4px;
  }
  
  .project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid transparent;
  }
  
  
  
  .card-description {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.18;
  }
  
  .link-hero {
    display: block;
    text-decoration: none;
    
  }
  
  
  .link-icon {
    display: flex;
    padding: 12;
    width: 20px;
    height: 20px;
    border: 2px;
  }
  
  .net-link:hover {
    background-color: $accent-color;
    fill: $main-white-color;
  }
  
  .link-icon:hover {
    fill: $main-white-color;
  }
  
  .net-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }