h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  background-color: $main-white-color;
  font-family: Roboto, sans-serif;
  
  
}

section{
  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;

  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

button {
  font-family: inherit;
}

input {
    padding-left: 42px;
  }

:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* outline: 2px solid red; */
}

.button:hover,
.button:focus {
  color: $main-white-color;
}

// .section {
//     // padding-top: 94px;
//     // padding-bottom: 94px;
//   }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  // width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
    // margin-left: auto;
    // margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (min-width: 480px) {
  
}

@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1200px) {
  
}
